$color-dark: #333
$color-half-dark: #666
$color-light: #eee

$distance: 0.1rem
$field-height: 1.6rem
$border-width: 0.1rem

body
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
.page
    margin: $distance

*
    box-sizing: border-box


.border, .field, .label 
    border: $border-width solid $color-dark
    border-radius: 3 * $border-width
    font-size: 11pt


.logo 
    margin: $distance
    padding: $distance
    font-size: 1.5rem
    font-weight: bold
    flex-grow: 0
    display: flex
    justify-content: center
    align-items: center
    text-align: center


.overview                     
    margin: $distance

.field 
    height: $field-height
    
    margin: $distance $distance 0 $distance

    flex-grow: 1
    flex-basis: 0

    text-align: center                
    color: $color-dark

    &.line
        border-top: none
        border-left: none
        border-right: none

    &.temp 
        border: $border-width dashed $color-dark
        .above 
            color: $color-half-dark

    &.label 
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center            

        padding: $distance

        font-size: 12pt
        background-color: $color-dark
        color: $color-light

        small
            font-size: 0.5rem
                        
    .annotate
        margin-bottom: -0.9rem
        font-size: 0.5rem
        height: 0.8rem
        text-align: left
    
    .above                     
        margin-top: -0.9rem
        font-size: 0.5rem
        height: 0.8rem
        display: flex
        align-items: center
        justify-content: center
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        &.label
            background-color: $color-dark
            color: $color-light

.spacer
    flex-grow: 1
    
.row 
    display: flex
    align-items: center
    
    &.cols-top
        align-items: start

.cols
    display: flex
    flex-direction: row
    
    & > *
        flex-grow: 1
        flex-basis: 0
        &:not(:first-child)
            margin-left: 4 * $distance

.vspace 
    margin-top: 0.5 * $field-height

.vspace-large
    margin-top: $field-height

.very-high
    min-height: $field-height * 1.6

.ultra-high
    min-height: $field-height * 3.2

.block
    flex-grow: 1

.grow-0
    flex-grow: 0

.grow-1
    flex-grow: 1

.grow-2
    flex-grow: 2

.grow-3
    flex-grow: 3

.grow-4
    flex-grow: 4

footer
    position: fixed
    bottom: 2mm
    width: 100%
    text-align: center
    font-size: 0.4rem    

.attributes
    @extend .block
    
    .label
        flex-basis: 0
        flex-grow: 2

.initiative
    @extend .block        

.ac
    @extend .block        

.saves
    @extend .block
    
.attack
    @extend .block

.weapons
    @extend .block        

.armor
    @extend .block        

.skills
    @extend .block
    margin-left: 5 * $distance

    .field
        width: 2rem
        height: 0.7 * $field-height
        flex-grow: 2

    .skill
        flex-basis: 0
        flex-grow: 10
        font-size: 0.7rem
        &.small
            font-size: 0.5rem

        &.untrained
            font-weight: bold
    
    .skill-attribute
        flex-basis: 0
        flex-grow: 1
        font-size: 0.5rem

    .check
        flex-basis: 1
        width: 0.5rem
        border: $border-width solid black
        height: 0.4 *$field-height
        margin-right: 2* $distance

.armor
    @extend .block        

.equipment
    @extend .block        

@media screen
    body
        max-width: 1280px
        margin: auto
    

@media print
    @page
        size: A4
    
    body
        width: 210mm
        height: 297mm
        padding: 4mm

    .page
        page-break-before: always
